# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.env
!.env.example
.pytest_cache/
backend/%VENV%/
# Node / Frontend
node_modules/
dist/
backend/static/
.npm/

# IDE / OS
.vscode/
.idea/
*.swp
*.swo
Thumbs.db
[Dd]esktop.ini
